<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dh.demo.repository.DemoMapper" >
  <resultMap id="demoResultMap" type="com.dh.demo.model.Demo" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="text1" property="text1" jdbcType="VARCHAR" />
    <result column="text2" property="text2" jdbcType="VARCHAR" />
    <result column="text3" property="text3" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getDemo"  resultMap="demoResultMap" >
     SELECT * FROM Demo WHERE id = ${id}
  </select>
  <insert id="addDemo" parameterType="com.dh.demo.model.Demo"  >
    insert into demo (TYPE_CODE, TYPE_NAME, IN_CODE
      )
    values (#{typeCode,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, #{inCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dh.demo.model.Demo" >
    insert into NEWS_TYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="typeCode != null" >
        TYPE_CODE,
      </if>
      <if test="typeName != null" >
        TYPE_NAME,
      </if>
      <if test="inCode != null" >
        IN_CODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="typeCode != null" >
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="typeName != null" >
        #{typeName,jdbcType=VARCHAR},
      </if>
      <if test="inCode != null" >
        #{inCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>